.bar ul{
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.bar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 25px;
}

.bar a:hover{
    background-color: cadetblue;
}

.bar li{
    float: left;
}

.front{
    position: relative;
    text-align: center;

}

.login-form{
    color: whitesmoke;
    position: absolute;
    top: 300px;
    left: 501px;
    font-size: 25px;
    background-color: slategray;
    padding: 20px;
    border-radius: 10px;
}


/* privacy policy */
#policy-link{
    font-size: 15px;
    text-align: center;
}

/* checkbox */
#privacy-policy{
    font-size: 15px;
    text-align: center;
}

/* pic */
#login-pic{
    max-width: 100%;
}

#submit-button{
    font-size: 18px;
}

/* Footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 10px;
}