.bar ul{
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.bar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 25px;
}

.bar a:hover{
    background-color: cadetblue;
}

.bar li{
    float: left;
}


/* Footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 10px;
}

/* image */
#clutches{
    width: 100%;
}


/* background */


/* main text */
.main-text{
    color: white;
    /* color: slateblue; */
    position: absolute;
    top: 15vh;
    left: 5vw; 
    margin-right: 10vw;
}

/* spares-photos */
#prod1,#prod2,#prod3,#prod4,#prod5,#prod6{
    height: 35vh;
}

/* table */
#spare-table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

table, td{
    border: 5px solid slategray;
    border-collapse: collapse;
}

/* Return, replace */
.returnreplace{
    margin-top: 10vh ;
}

#instructions{
    font-size: 2.5vh;
}